@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
* {
  font-family: "Hammersmith One";
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
